/* Base Styles */
body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  color: #000000;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}
